@import '../../../css/material-palette';

$aggregationColor: palette(Purple);
$inheritanceColor: black;
$primaryNodeColor: palette(Orange);
$secondaryNodeColor: palette(Green);

:host {

  position: relative;
  display: flex;

  .typegraph__canvas {
    width: 100%;

    .aggregation_arrow {
      stroke: $aggregationColor;
      fill: $aggregationColor;
    }

    .inheritance_arrow {
      stroke: $inheritanceColor;
      fill: $inheritanceColor;
    }

    .typegraph__node {
      stroke: $secondaryNodeColor;
      fill: white;
      stroke-width: 3;

      &--primary {
        stroke: $primaryNodeColor;
      }
    }

    &__node-label {
      cursor: pointer;
    }

    circle {
      cursor: pointer;
    }

    text {
      dominant-baseline: middle;
      user-select: none;
    }

    .edge {
      stroke-width: 2;

      &--aggregation {
        @extend .aggregation_arrow;
        stroke-dasharray: 2, 6;
      }

      &--inheritance {
        @extend .inheritance_arrow;
      }
    }
  }
}
