<form (submit)="lookupEntity(searchString)"
      class="query-form">
  <autocomplete [(value)]="searchString"
                [options]="allTypes"
                placeholder="Search (supports camelcase search!)"
                class="autocomplete"></autocomplete>
  <button type="submit">Look up</button>
</form>
<br>
<mapientity *ngFor="let entity of entities, let idx = index"
            [mapiEntity]="entity"
            (remove)="removeEntity(idx)"
            (navigate)="lookupEntity($event)"></mapientity>
