:host {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  .query-form {
    display: flex;
    width: 100%;

    .autocomplete {
      display: flex;
      width: 100%;
    }
  }

  .entity_canvas {
    display: flex;
    flex-wrap: wrap;
    .entity_canvas_entity {
      flex: 1 0 100px;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
