:host {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  .query-form {
    display: flex;
    width: 100%;

    .autocomplete {
      display: flex;
      width: 100%;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
