:host {

  position: relative;
  display: block;

  background-color: #eaeaea;

  .typegraph__node {
    //position:absolute;
    //background-color: white;
    fill: white;
    stroke: black;
    stroke-width: 1;

  }

  circle {
    cursor: pointer;
  }

  text {
    dominant-baseline: middle;
    cursor: pointer;
  }

  .edge {
    stroke: black;
    stroke-width: 2;
  }
}
