@import '../../../../css/material-palette';

:host {

  position: relative;
  display: block;

  background-color: palette(Grey);

  .aggregation_arrow {
    stroke: white;
    fill: white;
  }

  .inheritance_arrow {
    stroke: black;
    fill: black;
  }

  .typegraph__node {
    fill: white;

    &--primary {
      fill: palette(Orange);
    }
  }

  circle {
    cursor: pointer;
  }

  text {
    dominant-baseline: middle;
    cursor: pointer;
  }

  .edge {
    stroke-width: 2;

    &--aggregation {
      @extend .aggregation_arrow;
      stroke-dasharray: 2, 6;
    }

    &--inheritance {
      @extend .inheritance_arrow;
      stroke: black;

    }
  }
}
