@import '../../../../css/material-palette';

:host {

  position: relative;
  display: block;

  background-color: palette(Grey);

  .typegraph__node {
    fill: white;

    &--primary {
      fill: palette(Orange);
    }
  }

  circle {
    cursor: pointer;
  }

  text {
    dominant-baseline: middle;
    cursor: pointer;
  }

  .edge {
    stroke: black;
    stroke-width: 2;

    &--aggregation {
      stroke-dasharray: 2, 6;
      stroke: palette(Blue);
    }

    &--inheritance {

    }
  }
}
