<svg viewBox="0 0 1000 1000" class="typegraph__canvas">
  <defs><!-- The arrow heads. refX is the offset from the end of the line to the edge of the target node -->
    <marker id="inheritance-arrow"
            markerWidth="10"
            markerHeight="10"
            refX="20"
            refY="3"
            orient="auto"
            markerUnits="strokeWidth">
      <path d="M0,0 L0,6 L9,3 z"
            class="inheritance_arrow"></path>
    </marker>
    <marker id="aggregation-arrow"
            markerWidth="10"
            markerHeight="10"
            refX="20"
            refY="3"
            orient="auto"
            markerUnits="strokeWidth">
      <path d="M0,0 L0,6 L9,3 z"
            class="aggregation_arrow"></path>
    </marker>
  </defs>
  <!-- The edges first (under the nodes) -->
  <line *ngFor="let edge of graph.edges"
        [attr.class]="'edge edge--'+edge.data.type"
        [attr.x1]="edge.data.pos1.x" [attr.y1]="edge.data.pos1.y"
        [attr.x2]="edge.data.pos2.x" [attr.y2]="edge.data.pos2.y"
        [attr.marker-end]="'url('+locationPathname+'#'+edge.data.type+'-arrow)'"></line>
  <!-- all edge labels -->
  <text *ngFor="let edge of graph.edges"
        text-anchor="middle"
        [attr.x]="edge.data.labelPos.x"
        [attr.y]="edge.data.labelPos.y">{{edge.data.label}}</text>
  <!-- Now all the nodes -->
  <g *ngFor="let node of graph.nodes"
     [attr.transform]="node.data.transform"
     draggable (mousedrag)="node.data.drag($event)" (dragend)="node.data.dragEnd()"
     (click)="onClick(node, $event)">
    <circle
      [attr.r]="nodeSize/2"
      [attr.class]="'typegraph__node ' + (node.data.isPrimary ? 'typegraph__node--primary' : '')"></circle>
    <text text-anchor="middle" class="typegraph__canvas__node-label">{{node.data.modelType.name}}</text>
  </g>
</svg>
