<div class="click-overlay"
     (click)="dismissSuggestions()"
     *ngIf="suggestionsShown"></div>
<input type="search" class="query-input"
       [(ngModel)]=value
       (ngModelChange)="updateSuggestions()"
       placeholder="{{placeholder}}"
       (keydown)="onKeydown($event)">
<ul class="suggestions" *ngIf="suggestionsShown">
  <li *ngFor="let item of filteredList; let i = index"
      [ngClass]="{selected: highlightedIndex === i}">
    <a (click)="select(item)" >{{item}}</a>
  </li>
</ul>

