<form (submit)="lookupEntity(searchString)"
      class="query-form">
  <autocomplete [(value)]="searchString"
                [options]="allTypes"
                placeholder="Search (supports camelcase search!)"
                class="autocomplete"></autocomplete>
  <button type="submit">Look up</button>
</form>
<div class="entity_canvas">
  <mapientity *ngFor="let entity of entities, let idx = index"
              [mapiEntity]="entity"
              (remove)="removeEntity(idx)"
              (navigate)="lookupEntity($event)"
              class="entity_canvas_entity"></mapientity>
</div>
