<form (submit)="lookupEntity(searchString)"
      class="lookupgraph__query-form">
  <autocomplete [(value)]="searchString"
                [options]="allTypes"
                placeholder="<type to look up> (try 'BPLA' or 'ExMPLA')"
                class="lookupgraph__query-form__autocomplete"></autocomplete>
  <button type="submit">Look up</button>
  <togglebutton
    class="lookupgraph__query-form__aggregation-toggle"
    #aggregations
    [checkedState]="typegraph.showAggregations"
    textOn="Aggregations" textOff="No aggregations"></togglebutton>
  <togglebutton
    class="lookupgraph__query-form__inheritance-toggle"
    #inheritance
    [checkedState]="typegraph.showInheritance"
    textOn="Inheritance" textOff="No inheritance"></togglebutton>
</form>
<div class="lookupgraph__entity-canvas">
  <typegraph
    #typegraph
    class="lookupgraph__entity-canvas__typegraph"
    [modelTypes]="modelTypes"
    [showAggregations]="aggregations.checkedState"
    [showInheritance]="inheritance.checkedState"
    (nodeClicked)="modelTypeClicked($event)"
  ></typegraph>
  <div class="lookupgraph__entity-canvas__model-types">
    <mapientity *ngFor="let modelType of modelTypes, let idx = index"
                [modelType]="modelType"
                (remove)="toggleTypeInCollection(modelType)"
                (navigate)="toggleTypeInCollection($event)"
                class="lookupgraph__entity-canvas__model-type"></mapientity>
  </div>
</div>
