.lookupgraph {
  display: flex;
  flex-direction: column;

  &__query-form {
    display: flex;
    width: 100%;

    &__autocomplete {
      display: flex;
      width: 100%;
    }
    &__aggregation-toggle {
      width: 10em;
    }
    &__inheritance-toggle {
      width: 10em;
    }

  }

  .entity_canvas {
    display: flex;
    width: 100%;

    .typegraph {
      width: 100%;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}
