<div class="entity_header">
  <span>
    <span class="entity_header_name">{{mapiEntity.name}}</span>
    <span *ngIf="mapiEntity.superType">
      (extends <a class="entity_header_superclass" (click)="navigateTo(mapiEntity.superType)">{{mapiEntity.superType}}</a>)
    </span>
  </span>
  <a (click)="onRemoveClick()" class="entity_remove_link">dismiss</a>
</div>
<div class="entity_details">
  <div class="entity_details_inheritors">
    Inheritors:
    <span *ngFor="let inheritor of mapiEntity.inheritors, let last=last">
      <span class="entity_details_inheritors_inheritor"
            (click)="navigateTo(inheritor)">{{inheritor}}</span><!--
   --><span *ngIf="!last">,</span>
    </span>
  </div>
  <ul class="entity_details_properties">
    <li *ngFor="let property of mapiEntity.entityFields, let odd = odd"
        class="entity_property"
        [ngClass]="{entity_property_odd: odd}">
      <span class="entity_property_name">
        {{property.name}}: <!--
        --><span *ngIf="property.isNullable" class="entity_property_flag" title="Nullable">[?]</span><!--
        --><span *ngIf="property.notNull" class="entity_property_flag" title="Not null">[!]</span><!--
        --><span *ngIf="property.immutable" class="entity_property_flag" title="Immutable">[∞]</span>
      </span>
      <span class="entity_property_type"
            [ngClass]="{entity_property_type_navigation: property.navigationTarget}"
            (click)="navigateTo(property.navigationTarget)"
            title="{{property.displayedType}}">
        {{property.displayedType}}
      </span>
    </li>
  </ul>
</div>
