$border: solid 1px #106cc8;

@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin deEmphasize() {
  font-size: 80%;
  font-style: italic;
}

:host {
  border: $border;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 50%;
  height: 50%;
  margin: 5px;

  .entity_header {
    display: flex;
    justify-content: space-between;

    border-bottom: $border;
    padding: 5px;

    .entity_name {
      font-weight: bold;
    }

    .entity_remove_link {
      cursor: pointer;
      text-decoration: underline;
      color: blue;
    }
  }
  .entity_properties {
    height: 300px;
    overflow-y: scroll;
    padding: 5px;
    margin: 0;

    .entity_property {
      display: flex;
      justify-content: space-between;
      padding: 0 5px;

      &_odd {
        background-color: #e1e1e1;
      }

      .entity_property_name {
        @include truncate()
      }

      .entity_property_flag {
        font-size: 70%;
        color: darkgray;
        cursor: default;
      }

      .entity_property_type {
        @include deEmphasize();
        @include truncate();

        &_navigation {
          cursor: pointer;
          text-decoration: underline;
          color: blue;
        }
      }
    }
  }

}
