<div class="entity_header">
  <span>
    <span class="entity_header_name">{{modelType.name}}</span>
    <span *ngIf="modelType.superType" class="entity_header_superclass">
      extends <a class="entity_header_superclass_name" (click)="navigateTo(modelType.superType)">{{modelType.superType.name}}</a>
    </span>
  </span>
  <a (click)="onRemoveClick()" class="entity_remove_link">dismiss</a>
</div>
<div class="entity_details">
  <div class="entity_details_inheritors">
    Inheritors:
    <span *ngIf="modelType.subtypes.length == 0">(none)</span>
    <span *ngFor="let subtype of modelType.subtypes, let last=last">
      <span class="entity_details_inheritors_inheritor"
            (click)="navigateTo(subtype)">{{subtype.name}}</span><!--
   --><span *ngIf="!last">,</span>
    </span>
  </div>
  <div class="entity_details_properties">
    <mapientityproperties [modelType]="modelType" *ngIf="modelType.properties.length > 0" (navigate)="navigateTo($event)"></mapientityproperties>
  </div>
  <div *ngFor="let ancestorType of modelType.ancestors" class="entity_details_properties">
    <div *ngIf="ancestorType.properties.length > 0">
      <div class="entity_property_header">
        Inherited from <span class="entity_property_header_link" (click)="navigateTo(ancestorType)">{{ancestorType.name}}</span>:
      </div>
      <mapientityproperties [modelType]="ancestorType" (navigate)="navigateTo($event)"></mapientityproperties>
    </div>
  </div>
</div>
